<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net452" />
  <package id="AutoItX.Dotnet" version="3.3.14.5" targetFramework="net452" />
  <package id="EMGU.CV" version="3.4.3.3016" targetFramework="net452" />
  <package id="Tesseract" version="4.1.1" targetFramework="net452" />
  <package id="WatiN" version="2.1.0" targetFramework="net452" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net452" />
</packages>